p{
    color:black;
    font-size: 20px;
}

.container{
    display: flex;
}
.t1{
    font-size: 40px;
    text-transform: uppercase;
    color: red;
    }
 

.titulo1{
    background-color: red;
    color:black;
    font-size: 400%;
    text-align: center;
}
.titulo2{
    color: rgb(34, 33, 33);
    font-size: 300%;
    text-align: right;
}
.texto1{
    text-align: center;
    color: red;

}
img{
    margin-left: auto;
    margin-right: auto;
    height: 800px;

}
#t3{
    font-size: 70px;
    text-transform: uppercase;
    background: linear-gradient(45deg, red, rgb(250, 52, 52), rgb(248, 71, 71), rgb(241, 77, 77), rgb(202, 66, 66));
    background-size: 400%, 100%;
    animation:animação 13s linear infinite ;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent ;
}
.t4{
    font-size: 70px;
    text-transform: uppercase;
    background: linear-gradient(45deg, #1465bb, #2196f3, #81c9fa, #b9ffff);
    background-size: 400%, 100%;
    animation:animação 13s linear infinite ;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent ;
}
@keyframes animação {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position: 400%;
    }
} 